/* 
    1. configs
    2. utils
    3. header
    4. banner section
*/

/* 1. Configs */

:root {
  --primary: #0b3d91;
  --on-primary: #ffffff;
  --primary-container: #1658c9;
  --on-primary-container: #e5e5e5;
}

body {
  background-color: var(--on-primary);
}

/* 2. utils */

.text-primary {
  color: var(--primary) !important;
}

.text-onprimary {
  color: var(--on-primary) !important;
}

.btn-primary {
  background-color: var(--primary-container) !important;
  color: var(--on-primary-container) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.mb-10 {
  margin-bottom: 2rem;
}

h1.arrow {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary);
  letter-spacing: 4px;
  background: url("../images/h1-bg.png") no-repeat center bottom;
  padding-bottom: 30px;
  font-weight: bold;
  margin-bottom: 3rem;
}

.form-control {
  height: 50px;
}

/* 3. header */
.my-nav {
  position: fixed;
  left: 0;
  right: 0;
  padding: 2rem;
  z-index: 999;
}

.my-nav .fa-bars {
  font-size: 2.3rem;
  color: var(--primary-container);
}

.my-nav nav {
  display: flex;
  position: absolute;
  transition: all .3s ease-in;
  transform: translateX(100%);
  right: 20px;
}

.my-nav.open-nav {
  border: 2px solid var(--primary);
  background-color: var(--on-primary);
}

.my-nav.open-nav nav {
  transform: translateX(0);
}

.my-nav nav a {
  margin: 0px 20px;
  font-size: 1.2rem;
  color: var(--primary);
}

/* 4. banner section */

.banner-section {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}

.intro-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 5;
}

.intro-container h1 {
  color: var(--primary);
  line-height: 4rem;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.intro-container p {
  font-size: 1.5rem;
}

.see-more-btn {
  position: absolute;
  bottom: 12%;
  left: calc(50% - 50px);
  margin-top: 8rem;
  color: var(--primary);
  font-size: 1.5rem;
  z-index: 2;
}
.see-more-btn:hover {
  text-decoration: none;
}

.see-more-btn i {
  font-size: 1.8rem;
}

/* skill section */
#skill-section .card {
  padding: 12px;
  margin-bottom: 28px;
  border-radius: 6px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
#skill-section .card:hover {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

#skill-section img {
  /* height: 200px; */
  /* width: 100%; */
  object-fit: contain;
}

/* Blog section */
#blog-section .card-img-top {
  object-fit: cover;
  height: 300px;
}

/* Footer */

.footer-icon-link {
  display: inline-block;
  color: var(--primary);
  font-size: 2rem;
  margin: 0 0.7rem;
  transition: all 0.3s ease-in-out;
}

.footer-icon-link:hover {
  transform: scale(1.2);
}

.footer-icon-link i {
  transition: all 0.3s ease-in-out;
}
.footer-icon-link i:hover {
  transform: translateY(-10px);
}

.footer-twitter-icon:hover {
  color: #1d9bf0;
}
.footer-github-icon:hover {
  color: #181717;
}
.footer-linkedin-icon:hover {
  color: #0077b5;
}
.footer-instagram-icon:hover {
  color: #e4405f;
}

/* media queries */
@media screen and (max-width: 1200px) {
  .banner-section {
    min-height: 100vh;
  }

  .banner-section canvas {
    position: absolute;
    z-index: 1;
  }

  .mb-10 {
    margin-bottom: 0.4rem;
  }

  .intro-container {
    top: 50%;
    left: 10px;
    right: 0;
    transform: translate(0, -50%);
  }

  .intro-container h1 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .intro-container p {
    font-size: 1rem;
  }

  .my-nav {
    flex-flow: column;
  }

  .my-nav.open-nav nav {
    flex-flow: column;
    position: relative;
    right: 0;
    margin: auto;
  }

  .my-nav.open-nav nav a {
    margin-top: 24px;
  }
}
